In [33]:
#importing dependencies
import pandas as pd
import numpy as np
import pickle
#Encoding modules
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.compose import ColumnTransformer

#linear Regression modules
from sklearn import linear_model, model_selection

In [13]:
dataset = pd.read_csv('/home/aswnss/Coding/Python/Machine-Learning-Projects/ras ml/datasets/Startups.csv',sep=',')
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [15]:
# Encoding the Column State
Label_Encode = LabelEncoder()
dataset['State'] = Label_Encode.fit_transform(dataset['State'])
dataset.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [16]:
ct = ColumnTransformer( [('State', OneHotEncoder(),[3])], remainder='passthrough' )
dataset = ct.fit_transform(dataset)

In [31]:
# numpy array alicing [rows , column]
y = dataset[:,-1] # All rows of last column 
X = dataset[:,:-1] # All rows till second last column

In [34]:
## Uncomment and run this to train model again
## last trained modelaccuracy max accuracy =  0.9968765816617785

# max_ac = -1
# for _ in range(100):
#     x_train,x_test,y_train,y_test = model_selection.train_test_split(X,y,test_size=0.1)
#     Model = linear_model.LinearRegression()
#     Model = Model.fit(x_train,y_train)
#     accuracy = Model.score(x_test,y_test)
#     if accuracy > max_ac:
#         max_ac = accuracy
#         with open('Startup_model.pickle','wb') as f:
#             pickle.dump(Model,f)
# print("max accuracy = ",max_ac)

max accuracy =  0.9968765816617785

In [35]:
pickle_in = open('Startup_model.pickle','rb')
Model = pickle.load(pickle_in)

In [69]:
x_train,x_test,y_train,y_test = model_selection.train_test_split(X,y,test_size=0.1)
prediction = Model.predict(x_test)
for i in range(len(prediction)):
    print("Predicted Profit : {}  Actual Profit : {}  Loss : {}".format(prediction[i],y_test[i],y_test[i]-prediction[i]))

Predicted Profit : 154425.16014930804  Actual Profit : 149759.96  Loss : -4665.200149308046
Predicted Profit : 49814.208659203054  Actual Profit : 35673.41  Loss : -14140.79865920305
Predicted Profit : 98891.22511990316  Actual Profit : 97427.84  Loss : -1463.3851199031633
Predicted Profit : 83659.1371722173  Actual Profit : 81005.76  Loss : -2653.3771722173115
Predicted Profit : 129847.48769590256  Actual Profit : 125370.37  Loss : -4477.1176959025615