In [2]:
import pandas as pd
import sklearn
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt

In [5]:

dataset = pd.read_csv("/home/aswnss/Coding/Python/Machine-Learning-Projects/ras ml/datasets/diabetes.csv",sep=',')
dataset

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [6]:
dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [10]:
dataset.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [36]:
# dropping Pregnancies SkinThickness DiabetesPedigreeFunction
dataset2 = dataset.drop(['Pregnancies','BloodPressure','DiabetesPedigreeFunction'],axis=1)
dataset2

     Glucose  SkinThickness  Insulin   BMI  Age  Outcome
0        148             35        0  33.6   50        1
1         85             29        0  26.6   31        0
2        183              0        0  23.3   32        1
3         89             23       94  28.1   21        0
4        137             35      168  43.1   33        1
..       ...            ...      ...   ...  ...      ...
763      101             48      180  32.9   63        0
764      122             27        0  36.8   27        0
765      121             23      112  26.2   30        0
766      126              0        0  30.1   47        1
767       93             31        0  30.4   23        0

[768 rows x 6 columns]

In [37]:
X = dataset2.drop(['Outcome'],axis=1)
y = dataset2.Outcome
D_tree = sklearn.tree.DecisionTreeClassifier()

In [38]:
max_acc = -1
for _ in range(500):
    x_train,x_test,y_train,y_test= sklearn.model_selection.train_test_split(X,y,test_size=0.1)
    D_tree.fit(x_train,y_train)
    acc = D_tree.score(x_test,y_test)
    if acc > max_acc:
        max_acc = acc
print(max_acc*100)

85.71428571428571

In [39]:
R_forest = RandomForestClassifier(n_estimators=100)

In [40]:
max_acc = -1
for _ in range(100):
    x_train,x_test,y_train,y_test= sklearn.model_selection.train_test_split(X,y,test_size=0.1)
    R_forest.fit(x_train,y_train)
    acc = R_forest.score(x_test,y_test)
    if acc > max_acc:
        max_acc = acc
print(max_acc*100)

85.71428571428571